.navbar {
  display: flex;
   justify-content:start !important;
  align-items: start;
  padding: 0 87px !important;
  padding-bottom: 25px !important; 
  background-color: black;
  padding-top: 0px;
  color: white;
  border-radius: 0 0 2rem 0;

}

.nav-item {
  text-decoration: none;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 0px;
  border: 1px solid transparent;
  border-radius:0 0 4px 4px; 
  color: white;
  font-size: 16px;
  font-weight:500;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  line-height: 60px; 
  margin-bottom: 20px;
/* margin-left: 5rem; */
}

.nav-item:hover {
  background-color:white;
  color: black;
}

.nav-item.active {
  background-color: #F4CBDF; 
  color: black; 
  border-color: #F4CBDF; 
  display: flex;
  align-items: center; 

}


