.d-flex {
    display: flex;
    flex-direction: column; /* Stack the icons and switch vertically */
    align-items: center;
  }
  
  .mr-3, .ml-3 {
    margin-right: 0;
    margin-left: 0;
    margin-top:1 ;
  }
  /* Rotation styling for the switch */
.rotate-switch .form-check-input {
    transform: rotate(90deg); /* Rotate the switch by 90 degrees */
    transform-origin: center; /* Keep the rotation centered */
    transition: transform 0.3s ease; /* Smooth rotation transition */
  }
  
  
  