.d-flex {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
  
  .mr-3, .ml-3 {
    margin-right: 0;
    margin-left: 0;
    margin-top:1 ;
  }
  /* Rotation styling for the switch */
.rotate-switch .form-check-input {
    transform: rotate(90deg); 
    transform-origin: center; 
    transition: transform 0.3s ease;
  }
  
  
  