target/

!.mvn/wrapper/maven-wrapper.jar

logs/
*.log
*.tmp

.DS_Store
Thumbs.db

#.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

# IntelliJ IDEA specific files
.idea/
*.iws
*.iml
*.ipr

# NetBeans specific files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code specific files
.vscode/

# Ignore Gradle build directory
build/
