.search-bar {
    display: flex;
    background-color:  var(--secondary-color);
   margin: 10px 0px;
    padding: 10px 5px;
    border-radius: 10px;
    align-items: center;
  }
  .body.dark-mode .search-bar{
    background-color: grey !important;
  }
  
  .search-input {
    width: 50%;
    border: none;
    border-right: 1px solid #ccc; 
    margin-left: 20px !important;
    margin-right: 10px !important; 
  }
  
  .search-input:focus {
    outline: none; 
  }
  .filter-select:focus {
    outline: none; 
    color:var(--text-color);

  }
  .filter-select {
    padding: 8px;
    border: none;
    width: 30%;
    margin-left: 10px; 

  }
  option, select{
    color:black;
  }
  
  input, select {
    background-color: transparent; 
    color: var(--text-color);
  }
  input::placeholder {
    color:var(--text-color);
  }
 
.btn.search-btn{
    border-radius: 10px !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    margin-left: 50px !important;
    padding: 5px 20px !important;
    background-color: #F4CBDF !important ;
    color: black !important;

}

.mr-3 {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    font-size: 1.2rem; 
    margin: 5px;
    margin-top:10px ;
    color:#ccc
  }
  
 
  .suggestions-dropdown {
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 45%;
    z-index: 1000;
    margin: 10px 0px;
    left: 30%;
    transform: translateX(-50%);

  }
  .suggestions-dropdown-map{
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 50%;
    z-index: 1000;
    margin: 25px 0px;
    left: 25%;
    top:30px;
    transform: translateX(-50%);
  }
  
  .suggestion-item {
    padding: 8px 10px;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }
  
  strong{
    color: black;
  }
  