.tooltip-img{
 width: 90px !important; 
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: block;
}
.Ctooltip {
    font-size: 16px; 
    min-width: 400px !important; 
    padding: 0 !important;
    margin: 0 !important;
}


.leaflet-div-icon img {
    filter: none; 
  }
  
  .leaflet-div-icon.clicked img {
    filter: hue-rotate(180deg); 
  }
  
  
  